.search-container {
  margin-bottom: 20px;
}
.repository-list-container {
  background-color: white;
  .repository-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.results-text-container {
  margin-bottom: 24px;
  text-align: center;
}

.repository-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  margin-bottom: 32px;
}

.repository-skeleton-card {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16);
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
